#Girl
{
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    transform-box: fill-box;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

}

@keyframes swing {
    0% { transform: rotate(9deg); }
    100% { transform: rotate(-9deg); }
}


#Vector_38
{
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center 0px;
    transform-box: fill-box;
    float:left;
}
