<div class="about-container">
  <h2>About us</h2>
  <p class="about-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus rerum
    inventore voluptatibus quae architecto at eius eveniet tenetur aliquam.
    Minus doloribus provident cumque molestiae aperiam obcaecati numquam,
    placeat nobis eius? Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Maxime assumenda similique atque dignissimos cum eos necessitatibus
    laboriosam in doloremque nemo blanditiis explicabo unde consequuntur ullam,
    eius laudantium totam placeat reprehenderit!
  </p>
  <div class="logo-icon"></div>
</div>
