<div class="container">
  <div class="inner-container">
    <h2 class="main-title">Latest articles</h2>
    <h3 class="main-subtitle">Breaking news from the wild</h3>
    <div class="slider">
      <a class="arrow arrow-left"></a>
      <div class="item item1">
        <a href="#">
          <h2 class="item-title">Deer</h2>
          <h3 class="item-subtitle">Naturalist investigation</h3>
        </a>
      </div>
      <div class="item item2">
        <a href="#">
          <h2 class="item-title">Squirrel</h2>
          <h3 class="item-subtitle">Kamikaze squirrels</h3>
        </a>
      </div>
      <div class="item item3">
        <a href="#">
          <h2 class="item-title">Bird</h2>
          <h3 class="item-subtitle">Birds Fight club</h3>
        </a>
      </div>
      <a class="arrow arrow-right"></a>
    </div>
    <div class="mail">
      <h2 class="mail-title">Get notified about new amazing articles</h2>
      <form action="#" method="post" class="mail-form">
        <input
          type="text"
          class="mail-input"
          placeholder="Email"
          required
          autofocus
        />
        <input type="submit" class="mail-button" value="Send"/>
      </form>
    </div>
  </div>
</div>