footer {
  background-color: #181617;
}

footer .container {
  background-image: url('assets/img/footer.jpg');
  background-size: cover;
  box-shadow: -150px 0 150px -100px #181617 inset, 150px 0 150px -100px #181617 inset;
}

.footer-inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  min-height: 360px;
}

.social-list {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-item {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.social-item a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #f7f7f7;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.fb a {
  background-image: url('assets/svg/facebook.svg');
}

.instagramm a {
  background-image: url('assets/svg/instagram.svg');
  background-size: 26px;
}

.pinterest a {
  background-image: url('assets/svg/pinterest.svg');
}

.telegram a {
  background-image: url('assets/svg/telegram.svg');
  background-size: 26px;
}
