@font-face {
  font-family: 'Karolina';
  src: url('assets/fonts/Karolina-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.inner-container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #02160b;
}

header .container {
  min-height: 780px;
  background-image: url('assets/img/header.jpg');
  background-size: cover;
  padding-top: 20px;
  box-shadow: -150px 0 150px -100px #02160b inset, 150px 0 150px -100px #02160b inset, -100px 0 100px -90px #02160b inset, 100px 0 100px -90px #02160b inset, -50px 0 50px -40px #02160b inset, 50px 0 50px -40px #02160b inset;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 480px;
  padding: 0;
  margin: 0;
  height: 60px;
}

.list-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-item a {
  font-size: 24px;
  line-height: 60px;
  color: #f7f7f7;
  text-decoration: none;
  transition: .3s;
}

.list-item:hover a {
  color: #cd6326;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 60px;
}

.logo-icon {
  width: 70px;
  height: 60px;
  background-image: url('assets/svg/logo.svg');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;  
}

.logo h1,
.logo h2 {
  padding: 0;
  margin: 0;
  font-family: 'Karolina';
  font-size: 32px;
  color: #f7f7f7;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 300;
}

.search {
  width: 32px;
  height: 32px;
  background-image: url('assets/svg/search.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;  
  cursor: pointer;
}

.login {
  width: 120px;
  height: 50px;
  border: 2px solid #cd6326;  
  border-radius: 5px;
  text-align: center;
  transition: .3s;
}

.login:hover {
  background-color: #cd6326;
  border-color: #cd6326;
}

.login:active {
  background-color: #8F5515;
  border-color: #8F5515;
}

.login a,
.login:hover a,
.login:active a {
  color: #f7f7f7;
  line-height: 46px;
}

.header-title {
  position: relative;
  font-size: 48px;
  font-weight: 600;
  color: #cd6326;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.header-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 80px;
  height: 5px;
  background-color: #cd6326;
}

.header-text {
  width: 280px;
  color: #f7f7f7;
  margin-bottom: 50px;
}

.header-button {
  width: 160px;
  height: 60px;
  color: #f7f7f7;
  background-color: #cd6326;
  border-radius: 5px;
  font-size: 24px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: .3s;
}

.header-button:hover {
  background-color: #E4902D;
}

.header-button:active {
  background-color: #8F5515;
}
