<footer class="footer">
  <div class="container">
    <div class="inner-container footer-inner-container">
      <div class="logo">
        <div class="logo-icon"></div>
        <h2>wildlife</h2>
      </div>
      <ul class="nav-list">
        <li class="list-item"><a href="#">Articles</a></li>
        <li class="list-item"><a href="#">About us</a></li>
        <li class="list-item"><a href="#">Learn more</a></li>
      </ul>
      <ul class="nav-list social-list">
        <li class="list-item social-item fb"><a href="#"></a></li>
        <li class="list-item social-item instagramm"><a href="#"></a></li>
        <li class="list-item social-item pinterest"><a href="#"></a></li>
        <li class="list-item social-item telegram"><a href="#"></a></li>
      </ul>
    </div>
  </div>
</footer>