<header class="header">
  <div class="container">
    <div class="inner-container">
      <nav class="main-nav">
        <div class="logo">
          <div class="logo-icon"></div>
          <h1>wildlife</h1>
        </div>
        <ul class="nav-list">
          <li class="list-item"><a href="#">Blog</a></li>
          <li class="list-item"><a href="#">Contacts</a></li>
          <li class="list-item search"><a href="#"></a></li>
          <li class="list-item login"><a href="#">Sign in</a></li>
        </ul>
      </nav>
      <div class="header-promo">
        <h2 class="header-title">Survival</h2>
        <p class="header-text">
          What this means is that we exist to help protect our environment
          and do in numbers of ways. You can save the planet by donation.
        </p>
        <button class="header-button">Donate</button>
      </div>
    </div>
  </div>
</header>