
.about-container {
  padding-top: 100px;
  padding-bottom: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  text-align: center;

  background-color: black;
  color: whitesmoke;
}

.about-text {
  width: 70%;
}